@import 'variables';

@each $color in $hamkare-palette-colors {
  .hamkare-#{$color} {
    background-color: var(--hamkare-palette-#{$color}) !important;
  }

  .hamkare-#{$color}-text {
    color: var(--hamkare-palette-#{$color}) !important;
    --hamkare-ripple-color: var(--hamkare-palette-#{$color}) !important;
  }

  .hamkare-#{$color}-hover {
    background-color: var(--hamkare-palette-#{$color}-hover) !important;
  }

  .hover\:hamkare-#{$color}-hover {
    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--hamkare-palette-#{$color}-hover) !important;
      }
    }

    &:focus-visible, &:active {
      background-color: var(--hamkare-palette-#{$color}-hover) !important;
    }
  }

  .hamkare-border-#{$color} {
    border-color: var(--hamkare-palette-#{$color}) !important;
  }

  .hamkare-theme-#{$color} {
    color: var(--hamkare-palette-#{$color}-text) !important;
    background-color: var(--hamkare-palette-#{$color}) !important;
  }
}

.hamkare-inherit-text {
  color: inherit !important;
}

.hamkare-border-lines-default {
  border-color: var(--hamkare-palette-lines-default);
}

.hamkare-background {
  background-color: var(--hamkare-palette-background) !important;
}

.hamkare-background-gray {
  background-color: var(--hamkare-palette-background-gray) !important;
}

.hamkare-theme-transparent {
  color: inherit !important;
  background-color: transparent !important;
}

.hamkare-transparent {
  background-color: transparent !important;
}

.hamkare-transparent-text {
  color: transparent !important;
}

.hamkare-text-primary {
  color: var(--hamkare-palette-text-primary);
}

.hamkare-text-secondary {
  color: var(--hamkare-palette-text-secondary);
}

.hamkare-text-disabled {
  color: var(--hamkare-palette-text-disabled);
}

.white {
  background-color: #FFFFFF !important;
}

.white-text {
  color: #FFFFFF !important;
}

.black {
  background-color: #000000 !important;
}

.black-text {
  color: #000000 !important;
}
