@import '../abstracts/variables';

.hamkare-drawer {
  display: flex;
  flex: 0 0 auto;
  outline: 0;
  position: fixed;
  z-index: var(--hamkare-zindex-drawer);
  overflow-y: auto;
  flex-direction: column;
  color: var(--hamkare-palette-drawer-text);
  background-color: var(--hamkare-palette-drawer-background);

  .hamkare-drawer-content {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
  }

  &:not(.hamkare-drawer-fixed) {
    position: absolute;
  }

  @each $breakpoint in map-keys($breakpoints) {
    &.hamkare-drawer-mini.hamkare-drawer-#{$breakpoint}:not(.hamkare-drawer--closed), &.hamkare-drawer-responsive.hamkare-drawer-#{$breakpoint} {
      @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
        z-index: calc(var(--hamkare-zindex-appbar) + 2);

        &.hamkare-drawer--initial:not(.hamkare-drawer-mini) {
          display: none !important;
        }
      }
    }
  }

  &.hamkare-drawer-responsive, &.hamkare-drawer-persistent {
    &.hamkare-drawer-pos-left {
      height: 100%;
      right: auto;
      width: var(--hamkare-drawer-width, var(--hamkare-drawer-width-left));

      &:not(.hamkare-drawer--initial) {
        transition: left 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        left: 0;
      }

      &.hamkare-drawer--closed {
        box-shadow: none;
        left: calc(-1 * var(--hamkare-drawer-width, var(--hamkare-drawer-width-left)));
      }
    }

    &.hamkare-drawer-pos-right {
      height: 100%;
      left: auto;
      width: var(--hamkare-drawer-width, var(--hamkare-drawer-width-right));

      &:not(.hamkare-drawer--initial) {
        transition: right 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        right: 0;
      }

      &.hamkare-drawer--closed {
        box-shadow: none;
        right: calc(-1 * var(--hamkare-drawer-width, var(--hamkare-drawer-width-right)));
      }
    }

    &.hamkare-drawer-pos-bottom {
      width: 100%;
      top: auto;
      height: var(--hamkare-drawer-height, var(--hamkare-drawer-height-bottom));

      &:not(.hamkare-drawer--initial) {
        transition: bottom 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        bottom: 0;
      }

      &.hamkare-drawer--closed {
        box-shadow: none;
        bottom: calc(-1 * var(--hamkare-drawer-height, var(--hamkare-drawer-height-bottom)));
      }
    }

    &.hamkare-drawer-pos-top {
      width: 100%;
      bottom: auto;
      height: var(--hamkare-drawer-height, var(--hamkare-drawer-height-top));

      &:not(.hamkare-drawer--initial) {
        transition: top 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        top: 0;
      }

      &.hamkare-drawer--closed {
        box-shadow: none;
        top: calc(-1 * var(--hamkare-drawer-height, var(--hamkare-drawer-height-top)));
      }
    }
  }

  &.hamkare-drawer-mini {
    height: 100%;
    transition: width 225ms cubic-bezier(0, 0, 0.2, 1);

    &.hamkare-drawer-pos-left {
      left: 0;
      right: auto;

      &.hamkare-drawer--closed {
        width: var(--hamkare-drawer-width-mini-left);
      }

      &.hamkare-drawer--open {
        width: var(--hamkare-drawer-width-left);
      }
    }

    &.hamkare-drawer-pos-right {
      left: auto;
      right: 0;

      &.hamkare-drawer--closed {
        width: var(--hamkare-drawer-width-mini-right);
      }

      &.hamkare-drawer--open {
        width: var(--hamkare-drawer-width-right);
      }
    }
  }

  &.hamkare-drawer-temporary {
    margin: 0 !important;
    z-index: calc(var(--hamkare-zindex-appbar) + 2);
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &.hamkare-drawer-pos-left {
      right: auto;
      top: 0;
      height: 100%;
      width: var(--hamkare-drawer-width, var(--hamkare-drawer-width-left));

      &:not(.hamkare-drawer--initial) {
        transition: left 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        left: 0;
      }

      &.hamkare-drawer--closed {
        left: calc(-1 * var(--hamkare-drawer-width, var(--hamkare-drawer-width-left)));
      }
    }

    &.hamkare-drawer-pos-right {
      left: auto;
      top: 0;
      height: 100%;
      width: var(--hamkare-drawer-width, var(--hamkare-drawer-width-right));

      &:not(.hamkare-drawer--initial) {
        transition: right 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        right: 0;
      }

      &.hamkare-drawer--closed {
        right: calc(-1 * var(--hamkare-drawer-width, var(--hamkare-drawer-width-right)));
      }
    }

    &.hamkare-drawer-pos-bottom {
      left: 0;
      top: auto;
      width: 100%;

      &:not(.hamkare-drawer--initial) {
        transition: bottom 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        bottom: 0;
      }

      &.hamkare-drawer--closed {
        bottom: calc(-1 * var(--hamkare-drawer-height, var(--hamkare-drawer-height-bottom)));
      }
    }

    &.hamkare-drawer-pos-top {
      left: 0;
      bottom: auto;
      width: 100%;

      &:not(.hamkare-drawer--initial) {
        transition: top 225ms cubic-bezier(0, 0, 0.2, 1);
      }

      &.hamkare-drawer--open {
        top: 0;
      }

      &.hamkare-drawer--closed {
        top: calc(-1 * var(--hamkare-drawer-height, var(--hamkare-drawer-height-top)));
      }
    }
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-left ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-mini.hamkare-drawer-pos-right ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-left ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-right ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-top ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-bottom ~ div:not(.hamkare-main-content) {
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-left.hamkare-drawer--open ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-left.hamkare-drawer--open ~ div:not(.hamkare-main-content) {
    margin-left: var(--hamkare-drawer-width, var(--hamkare-drawer-width-left));
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-right.hamkare-drawer--open ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-right.hamkare-drawer--open ~ div:not(.hamkare-main-content) {
    margin-right: var(--hamkare-drawer-width, var(--hamkare-drawer-width-right));
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-top.hamkare-drawer--open ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-top.hamkare-drawer--open ~ div:not(.hamkare-main-content) {
    margin-top: var(--hamkare-drawer-height, var(--hamkare-drawer-height-top));
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-bottom.hamkare-drawer--open ~ div:not(.hamkare-main-content),
  &.hamkare-drawer-persistent.hamkare-drawer-pos-bottom.hamkare-drawer--open ~ div:not(.hamkare-main-content) {
    margin-bottom: var(--hamkare-drawer-height, var(--hamkare-drawer-height-bottom));
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-left.hamkare-drawer--closed ~ div:not(.hamkare-main-content) {
    margin-left: var(--hamkare-drawer-width, var(--hamkare-drawer-width-mini-left));
  }

  &.hamkare-drawer-mini.hamkare-drawer-pos-right.hamkare-drawer--closed ~ div:not(.hamkare-main-content) {
    margin-right: var(--hamkare-drawer-width, var(--hamkare-drawer-width-mini-right));
  }
}

.hamkare-drawer-header {
  display: flex;
  min-height: var(--hamkare-appbar-height);
  padding: 12px 24px 12px 24px;

  &.hamkare-drawer-header-dense {
    min-height: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
    padding: 8px 24px 8px 24px;
  }
}

.hamkare-drawer-fixed {
  &.hamkare-drawer-mini.hamkare-drawer-clipped-always,
  &.hamkare-drawer-persistent:not(.hamkare-drawer-clipped-never),
  &.hamkare-drawer-responsive.hamkare-drawer-clipped-always,
  &.hamkare-drawer-temporary.hamkare-drawer-clipped-always {
    top: var(--hamkare-appbar-height);
    height: calc(100% - var(--hamkare-appbar-height));

    @media (max-width:$breakpoint-sm - 1px) and (orientation: landscape) {
      top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
      height: calc(100% - calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height)/4));
    }

    @media (max-width:$breakpoint-sm - 1px) and (orientation: portrait) {
      top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 8);
      height: calc(100% - calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height)/8));
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    &.hamkare-drawer-mini.hamkare-drawer-clipped-docked.hamkare-drawer-#{$breakpoint},
    &.hamkare-drawer-responsive.hamkare-drawer-clipped-docked.hamkare-drawer-#{$breakpoint} {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        top: var(--hamkare-appbar-height);
        height: calc(100% - var(--hamkare-appbar-height));

        @media (max-width:$breakpoint-sm - 1px) and (orientation: landscape) {
          top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
          height: calc(100% - var(--hamkare-appbar-height) + var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
        }

        @media (max-width:$breakpoint-sm - 1px) and (orientation: portrait) {
          top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 8);
          height: calc(100% - var(--hamkare-appbar-height) / 8);
        }
      }
    }
  }
}

.hamkare-appbar-dense ~ .hamkare-drawer-fixed {
  &.hamkare-drawer-mini:not(.hamkare-drawer-clipped-never),
  &.hamkare-drawer-persistent:not(.hamkare-drawer-clipped-never),
  &.hamkare-drawer-responsive.hamkare-drawer-clipped-always,
  &.hamkare-drawer-temporary.hamkare-drawer-clipped-always {
    top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
    height: calc(100% - var(--hamkare-appbar-height) + var(--hamkare-appbar-height) / 4);
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      &.hamkare-drawer-responsive.hamkare-drawer-clipped-docked.hamkare-drawer-#{$breakpoint} {
        top: calc(var(--hamkare-appbar-height) - var(--hamkare-appbar-height) / 4);
        height: calc(100% - var(--hamkare-appbar-height) + var(--hamkare-appbar-height) / 4);
      }
    }
  }
}

.hamkare-drawer-overlay {
  display: none;

  &.hamkare-drawer-overlay--open {
    @each $breakpoint in map-keys($breakpoints) {
      &.hamkare-drawer-overlay-responsive.hamkare-drawer-overlay-#{$breakpoint} {
        @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
          display: block;

          &.hamkare-drawer--initial {
            display: none;
          }
        }
      }

      &.hamkare-drawer-overlay-mini.hamkare-drawer-overlay-#{$breakpoint} {
        @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
          display: block;
        }
      }
    }

    &.hamkare-drawer-overlay-temporary {
      display: block;
    }
  }
}


