@import '../abstracts/variables';

.hamkare-button-group-root {
  border-radius: var(--hamkare-default-borderradius);
  display: inline-flex;

  .hamkare-button-root {
    border-radius: var(--hamkare-default-borderradius);
  }

  &.hamkare-button-group-override-styles {
    .hamkare-button {
      color: var(--hamkare-palette-text-primary);
      --hamkare-ripple-color: var(--hamkare-palette-text-primary);
    }

    .hamkare-button-root {
      background-color: inherit;
      box-shadow: none;
      border: none;

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--hamkare-palette-action-default-hover);
        }
      }

      &:focus-visible, &:active {
        background-color: var(--hamkare-palette-action-default-hover);
      }

      &:disabled {
        border-color: var(--hamkare-palette-action-disabled-background) !important;
      }
    }
  }

  &.hamkare-button-group-text-size-small .hamkare-button-root {
    padding: 4px 5px;
    font-size: 0.8125rem;

    &.hamkare-icon-button .hamkare-icon-root {
      font-size: 1.422rem;
    }
  }

  &.hamkare-button-group-text-size-large .hamkare-button-root {
    padding: 8px 11px;
    font-size: 0.9375rem;

    &.hamkare-icon-button .hamkare-icon-root {
      font-size: 1.641rem;
    }
  }

  &.hamkare-button-group-outlined-size-small .hamkare-button-root {
    padding: 3px 9px;
    font-size: 0.8125rem;

    &.hamkare-icon-button {
      padding: 3px 9px;

      .hamkare-icon-root {
        font-size: 1.422rem;
      }
    }
  }

  &.hamkare-button-group-outlined-size-large .hamkare-button-root {
    padding: 7px 21px;
    font-size: 0.9375rem;

    &.hamkare-icon-button {
      padding: 7px 15px;

      .hamkare-icon-root {
        font-size: 1.641rem;
      }
    }
  }

  &.hamkare-button-group-filled-size-small .hamkare-button-root {
    padding: 4px 10px;
    font-size: 0.8125rem;

    &.hamkare-icon-button {
      padding: 4px 10px;

      .hamkare-icon-root {
        font-size: 1.422rem;
      }
    }
  }

  &.hamkare-button-group-filled-size-large .hamkare-button-root {
    padding: 8px 22px;
    font-size: 0.9375rem;

    &.hamkare-icon-button {
      padding: 8px 16px;

      .hamkare-icon-root {
        font-size: 1.641rem;
      }
    }
  }

  .hamkare-button-root.hamkare-icon-button {
    padding-right: 12px;
    padding-left: 12px;

    .hamkare-icon-root {
      font-size: 1.516rem;
    }

    &.hamkare-ripple-icon {
      &:after {
        transform: scale(10,10);
      }

      &:active:after {
        transform: scale(0,0);
        opacity: 0.1;
        transition: 0s;
      }
    }
  }
}

.hamkare-button-group-horizontal {
  &:not(.hamkare-button-group-rtl) {
    > .hamkare-button-root:not(:last-child), > :not(:last-child) .hamkare-button-root {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
  }

  &.hamkare-button-group-rtl {
    > .hamkare-button-root:not(:last-child), > :not(:last-child) .hamkare-button-root {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }

    > .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.hamkare-button-group-vertical {
  flex-direction: column;

  .hamkare-icon-button {
    width: 100%;
  }

  > .hamkare-button-root:not(:last-child), > :not(:last-child) .hamkare-button-root {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -1px;
  }
}

.hamkare-button-group-text {
  &.hamkare-button-group-override-styles {
    .hamkare-button-root {
      padding: 6px 8px;
    }

    &.hamkare-button-group-horizontal {
      &:not(.hamkare-button-group-rtl) {
        .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
          border-left: 1px solid rgba(var(--hamkare-palette-text-primary-rgb), var(--hamkare-palette-border-opacity));
        }
      }

      &.hamkare-button-group-rtl {
        .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
          border-right: 1px solid rgba(var(--hamkare-palette-text-primary-rgb), var(--hamkare-palette-border-opacity));
        }
      }
    }

    &.hamkare-button-group-vertical {
      .hamkare-button-root:not(:last-child), > :not(:last-child) .hamkare-button-root {
        border-bottom: 1px solid rgba(var(--hamkare-palette-text-primary-rgb), var(--hamkare-palette-border-opacity));
      }
    }

    @each $color in $hamkare-palette-colors {
      &.hamkare-button-group-text-#{$color} {
        .hamkare-button-root {
          color: var(--hamkare-palette-#{$color});
          --hamkare-ripple-color: var(--hamkare-palette-#{$color});

          @media(hover: hover) and (pointer: fine) {
            &:hover {
              background-color: var(--hamkare-palette-#{$color}-hover);
            }
          }

          &:focus-visible, &:active {
            background-color: var(--hamkare-palette-#{$color}-hover);
          }
        }

        &.hamkare-button-group-horizontal {
          &:not(.hamkare-button-group-rtl) {
            .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
              border-left: 1px solid rgba(var(--hamkare-palette-#{$color}-rgb), var(--hamkare-palette-border-opacity));
            }
          }

          &.hamkare-button-group-rtl {
            .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
              border-right: 1px solid rgba(var(--hamkare-palette-#{$color}-rgb), var(--hamkare-palette-border-opacity));
            }
          }
        }

        &.hamkare-button-group-vertical {
          .hamkare-button-root:not(:last-child), > :not(:last-child) .hamkare-button-root {
            border-bottom: 1px solid rgba(var(--hamkare-palette-#{$color}-rgb), var(--hamkare-palette-border-opacity));
          }
        }
      }
    }
  }
}

.hamkare-button-group-outlined {
  &.hamkare-button-group-override-styles {
    .hamkare-button-root {
      padding: 5px 15px;
      border: 1px solid rgba(var(--hamkare-palette-text-primary-rgb), var(--hamkare-palette-border-opacity));
    }

    @each $color in $hamkare-palette-colors {
      &.hamkare-button-group-outlined-#{$color} .hamkare-button-root {
        color: var(--hamkare-palette-#{$color});
        border: 1px solid rgba(var(--hamkare-palette-#{$color}-rgb), var(--hamkare-palette-border-opacity));
        --hamkare-ripple-color: var(--hamkare-palette-#{$color});

        @media(hover: hover) and (pointer: fine) {
          &:hover {
            background-color: var(--hamkare-palette-#{$color}-hover);
          }
        }

        &:focus-visible, &:active {
          background-color: var(--hamkare-palette-#{$color}-hover);
        }
      }
    }
  }
}

.hamkare-button-group-filled {
  box-shadow: var(--hamkare-elevation-2);

  .hamkare-button-root {
    box-shadow: none;

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: var(--hamkare-elevation-4);
      }
    }

    &:focus-visible, &:active {
      box-shadow: var(--hamkare-elevation-4);
    }
  }

  &.hamkare-button-group-override-styles {
    .hamkare-button-root {
      background-color: var(--hamkare-palette-action-default-hover);
      padding: 6px 16px;
    }

    &.hamkare-button-group-horizontal {
      &:not(.hamkare-button-group-rtl) {
        .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
          border-left: 1px solid rgba(var(--hamkare-palette-divider-rgb), var(--hamkare-palette-border-opacity));
        }
      }

      &.hamkare-button-group-rtl {
        .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
          border-right: 1px solid rgba(var(--hamkare-palette-divider-rgb), var(--hamkare-palette-border-opacity));
        }
      }
    }

    &.hamkare-button-group-vertical {
      .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
        border-top: 1px solid rgba(var(--hamkare-palette-divider-rgb), var(--hamkare-palette-border-opacity));
      }
    }

    @each $color in $hamkare-palette-colors {
      &.hamkare-button-group-filled-#{$color} {
        .hamkare-button-root {
          background-color: var(--hamkare-palette-#{$color});
          color: var(--hamkare-palette-#{$color}-text);
          --hamkare-ripple-color: var(--hamkare-palette-#{$color}-text);
          --hamkare-ripple-opacity: var(--hamkare-ripple-opacity-secondary);

          @media(hover: hover) and (pointer: fine) {
            &:hover {
              background-color: var(--hamkare-palette-#{$color}-darken);
            }
          }

          &:focus-visible, &:active {
            background-color: var(--hamkare-palette-#{$color}-darken);
          }

          &:disabled {
            background-color: var(--hamkare-palette-action-disabled-background);
          }
        }

        &.hamkare-button-group-horizontal {
          &:not(.hamkare-button-group-rtl) {
            .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
              border-left: 1px solid var(--hamkare-palette-#{$color}-lighten);
            }
          }

          &.hamkare-button-group-rtl {
            .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
              border-right: 1px solid var(--hamkare-palette-#{$color}-lighten);
            }
          }
        }

        &.hamkare-button-group-vertical {
          .hamkare-button-root:not(:first-child), > :not(:first-child) .hamkare-button-root {
            border-top: 1px solid var(--hamkare-palette-#{$color}-lighten);
          }
        }
      }
    }
  }
}

.hamkare-button-group-disable-elevation {
  box-shadow: none;
}
