.hamkare-collapse-container {
  overflow: hidden;
  display: grid;
  grid-template-rows: minmax(0, 0fr);
  transition: grid-template-rows 300ms ease-in-out;
}

.hamkare-collapse-entering {
  grid-template-rows: minmax(0, 1fr);
}

.hamkare-collapse-entered {
  overflow: initial;
  grid-template-rows: minmax(0, 1fr);

  & .hamkare-collapse-wrapper {
      overflow-y: auto;
  }
}

.hamkare-collapse-hidden {
  visibility: hidden;
}

.hamkare-collapse-wrapper {
  overflow: hidden;
  display: flex;
}

.hamkare-collapse-wrapper-inner {
  width: 100%;
}
