@import '../abstracts/variables';

.hamkare-data-grid {
  th {
    position: relative;
  }

  .drop-allowed {
    color: var(--hamkare-palette-success);
  }

  .drop-not-allowed {
    color: var(--hamkare-palette-error);
  }

  .drag-icon-options {
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 0;
    cursor: grab;
  }

  .hamkare-table-cell {
    &.edit-mode-cell {
      .hamkare-input-control {
        margin: 0 !important;
      }

      .hamkare-input {
        font-size: inherit;

        &:before {
          content: none;
        }

        &after {
          content: none;
        }

        .hamkare-input-outlined-border {
          border: none;
        }
      }
    }

    &.filter-header-cell {
      padding: 6px 24px 6px 16px;
      padding-inline-start: 16px;
      padding-inline-end: 24px;
    }

    &.sticky-left,
    &.sticky-right {
      position: sticky;
      background-color: var(--hamkare-palette-background-gray);
      z-index: 1;
    }

    &.sticky-left {
      left: 0px;
    }

    &.sticky-right {
      right: 0px;
    }

    &:not(.hamkare-table-child-content) {
      .hamkare-input-text {
        margin-top: 0 !important;
      }
    }

    .column-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .sortable-column-header {
        width: 100%;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          .column-options .sort-direction-icon, .column-options .column-options-icon, .column-options .drag-icon-options {
            opacity: 0.8;
            color: var(--hamkare-palette-action-default);
          }

          .column-options .hamkare-menu .hamkare-icon-button-label {
            opacity: 1.0;
            color: var(--hamkare-palette-action-default);
          }
        }
      }

      .column-options {
        display: inline-flex;
        align-items: center;
        flex-direction: inherit;
        justify-content: flex-start;
      }

      .sort-direction-icon {
        font-size: 18px;
        margin-left: 4px;
        margin-inline-start: 4px;
        margin-inline-end: unset;
        user-select: none;
        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        opacity: 0;

        &.hamkare-direction-desc {
          opacity: 1;
          transform: rotate(180deg);
        }

        &.hamkare-direction-asc {
          opacity: 1;
          transform: rotate(0deg);
        }
      }

      .hamkare-sort-index {
        transform: scale(0.9) translate(-2px, -2px);
      }

      .column-options .hamkare-menu .hamkare-icon-button-label {
        user-select: none;
        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        opacity: 0;
      }
    }

    .hamkare-resizer {
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      cursor: col-resize;
      user-select: none;

      .hamkare-application-layout-rtl & {
        right: auto;
        left: 0;
      }
    }

    @media(hover: hover) and (pointer: fine) {
      .hamkare-resizer:hover {
        border-right: 2px solid var(--hamkare-palette-primary);
      }
    }

    .hamkare-resizing {
      border-right: 2px solid var(--hamkare-palette-primary);
    }

    &.hamkare-datagrid-group {
      background-color: var(--hamkare-palette-background-gray);
    }

    @for $i from 2 through 5 {
      &.hamkare-row-group-indented-#{$i} {
        padding-left: #{$i * 48 - 48}px !important;
      }
    }
  }
}

@mixin datagrid-loading-display-smalldevices($breakpoint) {
  .hamkare-data-grid.hamkare-#{$breakpoint}table.hamkare-table-sticky-header {
    .hamkare-table-root .hamkare-table-head .hamkare-table-loading {
      // The mobile layout hides header rows, so the loader should stick to the top.
      top: 0;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  @include datagrid-loading-display-smalldevices("xs-");
}

@media (max-width: $breakpoint-md) {
  @include datagrid-loading-display-smalldevices("sm-");
}

@media (max-width: $breakpoint-lg) {
  @include datagrid-loading-display-smalldevices("md-");
}

@media (max-width: $breakpoint-xl) {
  @include datagrid-loading-display-smalldevices("lg-");
}

@media (max-width: $breakpoint-xxl) {
  @include datagrid-loading-display-smalldevices("xl-");
}

.hamkare-data-grid-columns-panel {
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      .column-options .sort-direction-icon, .column-options .column-options-icon, .column-options .drag-icon-options {
        opacity: 0.8;
        color: var(--hamkare-palette-action-default);
      }

      .column-options .hamkare-menu .hamkare-icon-button-label {
        opacity: 1.0;
        color: var(--hamkare-palette-action-default);
      }
    }
  }

  .sort-direction-icon {
    font-size: 18px;
    margin-left: 4px;
    margin-inline-start: 4px;
    margin-inline-end: unset;
    user-select: none;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.hamkare-direction-desc {
      opacity: 1;
      transform: rotate(180deg);
    }

    &.hamkare-direction-asc {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .hamkare-sort-index {
    transform: scale(0.9) translate(-2px, -2px);
  }

  .drag-icon-options {
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 1;
    cursor: grab;
  }

  .hamkare-drop-item-preview-start {
    z-index: 0;
  }
}
