.hamkare-input-control.hamkare-field {
  .hamkare-input-slot {
    height: auto;
    min-height: 19px;

    &.hamkare-input-root-outlined.hamkare-input-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 14px;
    }

    &.hamkare-input-root-filled.hamkare-input-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 12px;
    }

    &.hamkare-input-slot-nopadding {
      padding-top: 0px;
      padding-bottom: 0px;

      &.hamkare-input-root-filled {
        padding-top: 21px;
        padding-bottom: 2px;
      }

      &.hamkare-input-root-outlined {
        padding-top: 7px;
        padding-bottom: 2px;
      }
    }
  }
}
