.hamkare-input {
  position: relative;
  color: var(--hamkare-palette-text-primary);
  cursor: text;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  color-scheme: var(--hamkare-native-html-color-scheme);
  line-height: 1.1876em;

  &.hamkare-input-full-width {
    width: 100%;
  }

  &.hamkare-disabled {
    color: var(--hamkare-palette-text-disabled);
    cursor: default;
  }

  &.hamkare-disabled > .hamkare-input-adornment {
    color: var(--hamkare-palette-text-disabled);
    pointer-events: none;
  }

  &.hamkare-input-underline {
    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      transition: border-bottom 0.2s, background-color 0.2s;
      border-bottom: 1px solid var(--hamkare-palette-lines-inputs);
      pointer-events: none;
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover:not(.hamkare-disabled):before {
        border-bottom: 1px solid var(--hamkare-palette-action-default);
      }
    }

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      border-bottom: 2px solid var(--hamkare-palette-primary);
      pointer-events: none;
    }

    &.hamkare-disabled:before {
      border-bottom-style: dotted;
    }

    &.hamkare-input-error:after {
      transform: scaleX(1);
      border-bottom-color: var(--hamkare-palette-error);
    }
  }

  &.hamkare-input-filled {
    position: relative;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.09);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.13);
      }
    }

    &.hamkare-focused {
      background-color: rgba(0, 0, 0, 0.09);
    }

    &.hamkare-disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }

    &.hamkare-input-adorned-start {
      padding-left: 12px;
      padding-inline-start: 12px;
      padding-inline-end: unset;
    }

    &.hamkare-input-adorned-end {
      padding-right: 12px;
      padding-inline-end: 12px;
      padding-inline-start: unset;
    }

    &.hamkare-input-underline {
      &:before {
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        position: absolute;
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid var(--hamkare-palette-lines-inputs);
        pointer-events: none;
      }

      &:after {
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        border-bottom: 2px solid var(--hamkare-palette-primary);
        pointer-events: none;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover:before {
          border-bottom: 1px solid var(--hamkare-palette-action-default);
        }
      }

      &.hamkare-disabled:before {
        border-bottom-style: dotted;
      }

      &.hamkare-input-error:after {
        transform: scaleX(1);
        border-bottom-color: var(--hamkare-palette-error);
      }
    }
  }

  &.hamkare-input-outlined {
    position: relative;
    border-width: 0px;

    & .hamkare-input-outlined-border {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      min-width: 0%;
      height: 100%;
      text-align: start;
      pointer-events: none;
      border-radius: var(--hamkare-default-borderradius);
      border-color: var(--hamkare-palette-lines-inputs);
      border-width: 1px;
      border-style: solid;
      transition: border-width,border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    & > .hamkare-input-outlined-border {
      legend {
        float: none;
        visibility: hidden;
        font-size: 1rem * 0.75;
        font-weight: inherit;
        width: 0;
        height: 0;
        margin: 0 11px 0 11px;
        padding: 0;
        position: relative;
      }
    }

    @media(hover: hover) and (pointer: fine) {
      &:not(.hamkare-disabled):not(:focus-within):hover .hamkare-input-outlined-border {
        border-color: var(--hamkare-palette-action-default);
      }
    }

    &.hamkare-shrink > .hamkare-input-outlined-border {
      legend {
        width: auto;
        padding: 0 5px;
      }
    }

    &:focus-within > .hamkare-input-outlined-border, &:focus-within .hamkare-shrink > .hamkare-input-outlined-border {
      legend {
        width: auto;
        padding: 0 5px;
      }

      border-width: 2px;
      border-color: var(--hamkare-palette-primary);
    }

    &.hamkare-disabled .hamkare-input-outlined-border {
      border-color: var(--hamkare-palette-action-disabled);
    }

    &.hamkare-input-adorned-start {
      padding-left: 14px;
      padding-inline-start: 14px;
      padding-inline-end: unset;
    }

    &.hamkare-input-adorned-end {
      padding-right: 14px;
      padding-inline-end: 14px;
      padding-inline-start: unset;
    }
  }
}

.hamkare-input-error .hamkare-input-outlined-border {
  border-color: var(--hamkare-palette-error) !important;
}

.hamkare-input:focus-within.hamkare-input-underline:after {
  transform: scaleX(1);
}

.hamkare-input > input, div.hamkare-input-slot {
  &.hamkare-input-root {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1lh;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;

    @include inputplaceholder {
      color: currentColor;
      opacity: 0.42;
      transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &.hamkare-input-root-margin-dense {
      padding-top: 3px;
    }

    &.hamkare-input-root-multiline {
      height: auto;
      resize: none;
      padding: 0;
    }

    &.hamkare-input-root-type-search {
      appearance: textfield;
    }

    &:focus, &:active {
      outline: 0;
    }

    &:invalid {
      box-shadow: none;
    }

    &:disabled {
      opacity: 1;
    }

    &.hamkare-input-root-filled {
      padding: 27px 12px 10px;

      &.hamkare-input-root-margin-dense {
        padding-top: 23px;
        padding-bottom: 6px;
      }

      &:-webkit-autofill {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }

      &.hamkare-input-root-hidden-label {
        padding-top: 18px;
        padding-bottom: 19px;

        &.hamkare-input-root-margin-dense {
          padding-top: 10px;
          padding-bottom: 11px;
        }
      }

      &.hamkare-input-root-multiline {
        padding: 0;
      }

      &.hamkare-input-root-adorned-start {
        padding-left: 0;
        padding-inline-start: 0;
        padding-inline-end: 12px;
      }

      &.hamkare-input-root-adorned-end {
        padding-right: 0;
        padding-inline-end: 0;
        padding-inline-start: 12px;
      }
    }
  }

  &.hamkare-input-root-outlined {
    padding: 18.5px 14px;


    &.hamkare-input-root:-webkit-autofill {
      border-radius: inherit;
    }

    &.hamkare-input-root-margin-dense {
      padding-top: 10.5px;
      padding-bottom: 10.5px;
    }

    &.hamkare-input-root-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 14px;
    }

    &.hamkare-input-root-adorned-end {
      padding-right: 0;
      padding-inline-end: 0;
      padding-inline-start: 14px;
    }
  }

  &::-ms-reveal, &::-ms-clear {
    display: none !important;
  }
}

.hamkare-input > textarea {
  &.hamkare-input-root {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: auto;
    margin: 6px 0 7px;
    padding: 0;
    display: block;
    min-width: 0;
    background: none;
    position: relative;
    box-sizing: content-box;
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
    resize: none;
    cursor: auto;

    @include inputplaceholder {
      color: currentColor;
      opacity: 0.42;
      transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &.hamkare-input-root-margin-dense {
      padding-top: 3px;
    }

    &.hamkare-input-root-type-search {
      appearance: textfield;
    }

    &:focus, &:active {
      outline: 0;
    }

    &:invalid {
      box-shadow: none;
    }

    &:disabled {
      opacity: 1;
    }

    &.hamkare-input-root-filled {
      box-sizing: border-box;
      margin-top: 27px;
      margin-bottom: 0;
      padding: 0px 12px 10px;

      &.hamkare-input-root-margin-dense {
        padding-top: 23px;
        padding-bottom: 6px;
        mask-image: linear-gradient(to bottom,
          transparent 23px,
          black 23px);
      }

      &:-webkit-autofill {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }

      &.hamkare-input-root-hidden-label {
        padding-top: 18px;
        padding-bottom: 19px;
        mask-image: linear-gradient(to bottom,
          transparent 18px,
          black 18px);

        &.hamkare-input-root-margin-dense {
          padding-top: 10px;
          padding-bottom: 11px;
          mask-image: linear-gradient(to bottom,
            transparent 10px,
            black 10px);
        }
      }

      &.hamkare-input-root-adorned-start {
        padding-left: 0;
        padding-inline-start: 0;
        padding-inline-end: 12px;
      }

      &.hamkare-input-root-adorned-end {
        padding-right: 0;
        padding-inline-end: unset;
        padding-inline-start: 12px;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      z-index: 1;
      cursor: crosshair;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--hamkare-palette-lines-inputs);
      border-radius: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &.hamkare-input-root-outlined {
    box-sizing: border-box;
    margin-top: 18.5px;
    margin-bottom: 0;
    padding: 0px 14px 18.5px;

    &.hamkare-input-root:-webkit-autofill {
      border-radius: inherit;
    }

    &.hamkare-input-root-margin-dense {
      margin-top: 0px;
      padding-top: 10.5px;
      padding-bottom: 10.5px;
      mask-image: linear-gradient(to bottom,
        transparent 10.5px,
        black 10.5px);
    }

    &.hamkare-input-root-adorned-start {
      padding-left: 0;
      padding-inline-start: 0;
      padding-inline-end: 14px;
    }

    &.hamkare-input-root-adorned-end {
      padding-right: 0;
      padding-inline-end: 0;
      padding-inline-start: 14px;
    }
  }
}

.hamkare-input-adornment {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
}

.hamkare-input-adornment-start {
  margin-right: 8px;
  margin-inline-end: 8px;
  margin-inline-start: unset;

  &.hamkare-input-root-filled-shrink {
    margin-top: 16px;
  }
}

.hamkare-input-adornment-end {
  margin-left: 8px;
  margin-inline-start: 8px;
  margin-inline-end: unset;
}

.hamkare-input-number-control.hamkare-input-showspin .hamkare-input-adornment-end {
  margin-right: 12px;
  margin-inline-end: 12px;
  margin-inline-start: unset;
}

.hamkare-input-number-control.hamkare-input-showspin .hamkare-input-underline:not(.hamkare-input-filled) .hamkare-input-adornment-end {
  margin-right: 24px;
  margin-inline-end: 24px;
  margin-inline-start: unset;
}

.hamkare-input-adornment-disable-pointerevents {
  pointer-events: none;
}

.hamkare-range-input-separator {
  visibility: hidden;
  margin: 0 4px;
}

.hamkare-input:focus-within .hamkare-range-input-separator {
  visibility: visible;
}

.hamkare-picker .hamkare-shrink .hamkare-range-input-separator {
  visibility: visible;
}

.hamkare-input-input-control {
  user-select: none;
}
