
.hamkare-link {
  &.hamkare-link-underline-none {
    text-decoration: none;
  }

  &.hamkare-link-underline-hover {
    text-decoration: none;

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration: underline;
      }
    }

    &:focus-visible, &:active {
      text-decoration: underline;
    }
  }

  &.hamkare-link-underline-always {
    text-decoration: underline;
  }

  &.hamkare-link-disabled {
    cursor: default;
    color: var(--hamkare-palette-action-disabled) !important;

    &:not(.hamkare-link-underline-always) {
      text-decoration: none;
    }
  }

  .hamkare-link-icon-start,
  .hamkare-link-icon-end {
    &.hamkare-icon-root {
      font-size: inherit;
      vertical-align: middle;
    }
  }

  .hamkare-link-icon-start {
    margin-inline-end: 4px;
  }

  .hamkare-link-icon-end {
    margin-inline-start: 4px;
  }
}
