.hamkare-menu {
  display: inline-flex;
  align-self: center;
  position: relative;

  & * {
    cursor: pointer;
  }

  & > div.hamkare-disabled {
    cursor: default;

    & * {
      cursor: default;
    }
  }

  & > div.hamkare-menu-activator {
    display: contents;
    user-select: none;
  }
}

.hamkare-menu-button-hidden {
  /* this ensures that the menu div doesn't use any space in the layout */
  position: absolute;
}

.hamkare-menu-list {
  padding: 4px 0;
  min-width: 112px;

  > .hamkare-menu {
    width: 100%;
    display: inline;
  }

  > .hamkare-divider {
    margin: 4px 0;
  }
}

.hamkare-menu-item {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 8px 12px;

  > .hamkare-icon-root {
    color: var(--hamkare-palette-action-default);
  }

  .hamkare-menu-item-icon {
    display: inline-flex;
    flex-shrink: 0;
    margin-inline-end: 12px;
  }

  .hamkare-menu-item-text {
    flex: 1 1 auto;
    margin: 4px 0;
  }

  &.hamkare-menu-item-dense {
    padding: 2px 12px;
  }

  &.hamkare-disabled {
    color: var(--hamkare-palette-action-disabled) !important;
    cursor: default !important;
    pointer-events: none !important;

    .hamkare-menu-item-icon {
      color: var(--hamkare-palette-action-disabled) !important;
    }
  }
}

// If any menu item has an icon, then give the other ones the same gutters.
.hamkare-menu-list:has(.hamkare-menu-item-icon) .hamkare-menu-item:not(:has(.hamkare-menu-item-icon)) .hamkare-menu-item-text {
  margin-inline-start: 36px;
}

.hamkare-menu-list:has(.hamkare-menu-submenu-icon) .hamkare-menu-item:not(:has(.hamkare-menu-submenu-icon)) .hamkare-menu-item-text {
  margin-inline-end: 36px;
}

.hamkare-popover:has(> .hamkare-menu-list) {
  // Prevent menu item hover effects peeking through rounded popovers.
  overflow: hidden;
  // Hide the menu if it doesn't have any content.
  &:has(> .hamkare-menu-list:empty) {
    visibility: hidden;
  }
}
