@import '../abstracts/variables';

.hamkare-pagination {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  margin: 0;
  list-style: none;

  .hamkare-pagination-item {
    & > * {
      height: 32px;
      min-width: 32px;
      margin: 0 3px;
      padding: 0 6px;
      text-align: center;
      border-radius: 16px;
    }

    :not(hamkare-pagination-item-selected) > * {
      box-shadow: none;
    }

    .hamkare-button {
      line-height: normal;
    }

    .hamkare-icon-button {
      padding: 0;
    }

    &-rectangular .hamkare-button {
      border-radius: var(--hamkare-default-borderradius);
    }

    .hamkare-typography[disabled] {
      color: var(--hamkare-palette-action-disabled) !important;
    }
  }

  &-outlined {
    .hamkare-pagination-item-selected {
      .hamkare-button-outlined-default {
        background-color: var(--hamkare-palette-action-default-hover)
      }

      @each $color in $hamkare-palette-colors {
        .hamkare-button-outlined-#{$color} {
          background-color: var(--hamkare-palette-#{$color}-hover);
        }
      }
    }
  }

  &-filled {
    .hamkare-pagination-item {
      &:not(.hamkare-pagination-item-selected) .hamkare-button {
        background-color: var(--hamkare-palette-surface);
      }

      .hamkare-button {
        box-shadow: var(--hamkare-elevation-1);
      }
    }
  }

  &-small {
    .hamkare-pagination-item {
      & > * {
        height: 26px;
        min-width: 26px;
        margin: 0 1px;
        padding: 0 4px;
        border-radius: 13px;
      }
    }
  }

  &-large {
    .hamkare-pagination-item {
      & > * {
        height: 40px;
        min-width: 40px;
        padding: 0 10px;
        border-radius: 20px;
      }
    }
  }

  &-disable-elevation .hamkare-pagination-item .hamkare-button {
    box-shadow: none;
  }

  &-rtl .hamkare-pagination-item .hamkare-icon-root {
    transform: scaleX(-1);
  }
}
