@import '../abstracts/variables';

.page-content-navigation {

  .page-content-navigation-navlink {
    &.active {
      .hamkare-nav-link {
        color: var(--hamkare-palette-primary);
        border-color: var(--hamkare-palette-primary);
        background-color: transparent;
      }
    }

    .hamkare-nav-link {
      padding: 4px 16px 4px 16px;
      color: var(--hamkare-palette-text-secondary);
      border-left: 2px solid var(--hamkare-palette-action-disabled-background);

      &.active {
        color: var(--hamkare-palette-primary);
        border-color: var(--hamkare-palette-primary);
        background-color: transparent;
      }

      .hamkare-nav-link-text {
        margin-left: 0px;
        margin-inline-start: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
