.hamkare-popover {
  outline: 0;
  z-index: calc(var(--hamkare-zindex-popover) + 1);
  position: absolute;
  opacity: 0;
  top: -9999px;
  left: -9999px;

  &.hamkare-popover-fixed {
    position: fixed;
  }

  &.hamkare-popover-relative-width {
    width: 100%;
  }

  &.hamkare-popover-open {
    opacity: 1;
    transition: opacity;
  }

  &:not(.hamkare-popover-open ) {
    pointer-events: none;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  &:empty {
    box-shadow: none !important;
  }

  .hamkare-list {
    max-height: inherit;
    overflow-y: auto;
  }
}

.hamkare-popover .hamkare-popover {
  z-index: auto; // javascript will handle nested z-indexes
}

.hamkare-appbar {
  .hamkare-popover-cascading-value {
    z-index: calc(var(--hamkare-zindex-appbar) + 2);
  }
}

.hamkare-drawer {
  &:not(.hamkare-drawer-temporary) {
    .hamkare-popover-cascading-value {
      z-index: calc(var(--hamkare-zindex-drawer) + 2);
    }
  }

  &.hamkare-drawer-temporary, &.hamkare-drawer-responsive {
    .hamkare-popover-cascading-value {
      z-index: calc(var(--hamkare-zindex-appbar) + 4);
    }
  }
}

.hamkare-dialog {
  .hamkare-popover-cascading-value {
    z-index: calc(var(--hamkare-zindex-dialog) + 3);
  }
}

.hamkare-select {
  .hamkare-popover-cascading-value {
    z-index: calc(var(--hamkare-zindex-select) + 5);
  }
}
