.hamkare-select {
  display: flex;
  flex-grow: 1;
  position: relative;

  &.hamkare-autocomplete {
    display: block;

    & .hamkare-select-input {
      cursor: text;

      &.hamkare-readonly {
        cursor: default;

        & .hamkare-input-adornment {
          cursor: default;
        }
      }
    }

    & .hamkare-input-adornment {
      cursor: pointer;
    }
  }

  &.hamkare-autocomplete--with-progress {
    & .hamkare-select-input input {
      padding-right: 3.5rem !important;
    }

    & .hamkare-input-adorned-end input {
      padding-right: 4.5rem !important;
    }

    // hide only when the wrapper does NOT contain hamkare-input-adornment-start
    // AND DOES contain .progress-indicator-circular somewhere inside
    &:not(:has(.hamkare-input-adornment-start)):has(.progress-indicator-circular) .hamkare-select-input .hamkare-icon-button {
      display: none !important;
    }

    & .progress-indicator-circular {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-right: 1rem;
    }

    & .hamkare-progress-linear {
      position: absolute;
      bottom: -1px;
      height: 2px;
    }
  }

  .hamkare-select-input {
    cursor: pointer;

    &.hamkare-readonly {
      cursor: default;
    }

    & .hamkare-input-slot {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & .hamkare-input-adornment-end {
      margin-left: 0;
    }

    &:disabled {
      cursor: default;
    }
  }

  .hamkare-disabled {
    .hamkare-select-input {
      cursor: default;
    }
  }
}

// Adds spacing to right/left depending on the direction of the application layout
.hamkare-rtl-provider {
  & .hamkare-select .progress-indicator-circular--with-adornment {
    padding-right: 1rem;
  }

  &.hamkare-application-layout-rtl {
    & .hamkare-select .progress-indicator-circular--with-adornment {
      padding-right: 0rem !important;
      padding-left: 1rem !important;
    }
  }
}

.hamkare-select > .hamkare-form-helpertext {
  margin-top: -21px;
}

.hamkare-autocomplete-before-items,
.hamkare-autocomplete-after-items,
.hamkare-autocomplete-more-items,
.hamkare-autocomplete-no-items {
  &:not(:empty) {
    padding: 4px;
  }
}

.hamkare-select-all {
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 18px;
}

.hamkare-select-filler {
  white-space: nowrap;
  height: 0px;
}

.hamkare-width-content {
    max-width: min-content;
}
