
.hamkare-simple-table {

  table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;

      > tr:last-child {
        > td, > th {
          border-bottom: none;
        }
      }
    }

    * tr {
      color: inherit;
      display: table-row;
      outline: 0;
      vertical-align: middle;

      > td, th {
        display: table-cell;
        padding: 16px;
        text-align: start;
        border-bottom: 1px solid var(--hamkare-palette-table-lines);
        vertical-align: inherit;
      }

      > td {
        font-size: var(--hamkare-typography-body2-size);
        font-family: var(--hamkare-typography-body2-family);
        font-weight: var(--hamkare-typography-body2-weight);
        line-height: var(--hamkare-typography-body2-lineheight);
        letter-spacing: var(--hamkare-typography-body2-letterspacing);
        text-transform: var(--hamkare-typography-body2-text-transform);
      }

      > th {
        font-size: var(--hamkare-typography-subtitle2-size);
        font-family: var(--hamkare-typography-subtitle2-family);
        font-weight: var(--hamkare-typography-subtitle2-weight);
        line-height: var(--hamkare-typography-subtitle2-lineheight);
        letter-spacing: var(--hamkare-typography-subtitle2-letterspacing);
        text-transform: var(--hamkare-typography-subtitle2-text-transform);
      }
    }
  }
}

.hamkare-simple-table.hamkare-table-dense {
  & * tr {
    & td, th {
      padding: 6px 16px;
    }
  }
}

.hamkare-simple-table.hamkare-table-hover {
  & .hamkare-table-container table tbody {
    @media(hover: hover) and (pointer: fine) {
      & tr:hover {
        background-color: var(--hamkare-palette-table-hover);
      }
    }
  }
}

.hamkare-simple-table.hamkare-table-bordered {
  & .hamkare-table-container table tbody {
    & tr {
      td {
        border-right: 1px solid var(--hamkare-palette-table-lines);
      }

      td:last-child {
        border-right: none;
      }
    }
  }
}

.hamkare-simple-table.hamkare-table-striped {
  & .hamkare-table-container table tbody {
    & tr:nth-of-type(odd) {
      background-color: var(--hamkare-palette-table-striped);
    }
  }
}

.hamkare-table-hover.hamkare-table-striped {
  & .hamkare-table-container table tbody {
    @media(hover: hover) and (pointer: fine) {
      & tr:nth-of-type(odd):nth-of-type(odd):hover {
        background-color: var(--hamkare-palette-table-hover);
      }
    }
  }
}

.hamkare-simple-table.hamkare-table-sticky-header {
  .hamkare-table-container {
    overflow-x: auto;
    max-height: 100%;
  }

  & * table {
    border-collapse: separate;

    thead {
      & * th:first-child {
        border-radius: var(--hamkare-default-borderradius) 0 0 0;
      }

      & * th:last-child {
        border-radius: 0 var(--hamkare-default-borderradius) 0 0;
      }

      & * th {
        background-color: var(--hamkare-palette-surface);
        position: sticky;
        z-index: 1;
        top: 0;
      }
    }
  }
}


.hamkare-simple-table.hamkare-table-sticky-footer {
  .hamkare-table-container {
    overflow-x: auto;
    max-height: 100%;
  }

  & * table {
    border-collapse: separate;

    tfoot {
      & * td {
        background-color: var(--hamkare-palette-surface);
        position: sticky;
        z-index: 1;
        bottom: 0;
      }
    }
  }
}
