.hamkare-switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  &.hamkare-disabled {
    color: var(--hamkare-palette-text-disabled) !important;
    cursor: default;
  }

  &.hamkare-readonly {
    cursor: default;
    background-color: transparent !important;
  }

  @media(hover: hover) and (pointer: fine) {
    .hamkare-readonly:hover {
      cursor: default;
      background-color: transparent !important;
    }
  }
}

.hamkare-switch-span {
  width: 58px;
  height: 38px;
  display: inline-flex;
  padding: 12px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;

  & .hamkare-switch-track {
    width: 100%;
    height: 100%;
    opacity: 0.48;
    z-index: -1;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 9px;
    background-color: var(--hamkare-palette-action-default);
  }
}

.hamkare-switch-base {
  padding: 9px;
  top: 0;
  left: 0;
  color: #fafafa;
  z-index: 1;
  position: absolute;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.hamkare-checked {
    transform: translateX(20px);

    & + .hamkare-switch-track {
      opacity: 0.5;
    }
  }

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--hamkare-palette-action-default-hover);
    }
  }

  &.hamkare-switch-disabled {
    color: var(--hamkare-palette-gray-default) !important;

    & + .hamkare-switch-track {
      opacity: 0.12 !important;
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        cursor: default;
        background-color: transparent !important;
      }
    }

    &:focus-visible, &:active {
      cursor: default;
      background-color: transparent !important;
    }
  }
}

.hamkare-switch-button {
  display: flex;
  align-items: inherit;
  justify-content: inherit;

  & .hamkare-switch-input {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
  }

  & .hamkare-switch-thumb-small {
    width: 14px;
    height: 14px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 50%;
    background-color: currentColor;
  }

  & .hamkare-switch-thumb-medium {
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 50%;
    background-color: currentColor;
  }

  & .hamkare-switch-thumb-large {
    width: 26px;
    height: 26px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 50%;
    background-color: currentColor;
  }
}

.hamkare-switch-base-small {
  &.hamkare-switch-base {
    padding: 5px;
  }
}

.hamkare-switch-base-medium {
  &.hamkare-switch-base {
    padding: 9px;
  }
}

.hamkare-switch-base-large {
  &.hamkare-switch-base {
    padding: 13px;
  }
}


.hamkare-switch-span-small {
  &.hamkare-switch-span {
    padding: 7px;
    width: 44px;
    height: 24px;
  }
}

.hamkare-switch-span-medium {
  &.hamkare-switch-span {
    padding: 12px;
    width: 58px;
    height: 38px;
  }
}

.hamkare-switch-span-large {
  &.hamkare-switch-span {
    padding: 17px;
    width: 72px;
    height: 52px;
  }
}
