@import '../abstracts/variables';

$header-height: 59px;
$header-height-dense: 39px;
$header-height-with-filter: 109px; // 59px + 50px (filter row height)
$header-height-with-filter-dense: 89px; // 39px + 50px (filter row height)

.hamkare-table {
  color: var(--hamkare-palette-text-primary);
  background-color: var(--hamkare-palette-surface);
  border-radius: var(--hamkare-default-borderradius);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 92% !important;
  display: flex;
  flex-direction: column;

  &.hamkare-table-square {
    border-radius: 0px;
  }

  &.hamkare-table-outlined {
    border: 1px solid var(--hamkare-palette-lines-default);
  }
}

.hamkare-table-container {
  width: 100%;
  overflow-y: auto;
}

.hamkare-table-root {
  width: 100%;
  border-spacing: 0;

  & .hamkare-table-head {
    display: table-header-group;

    & .hamkare-table-cell {
      color: var(--hamkare-palette-text-primary);
      font-size: var(--hamkare-typography-subtitle2-size);
      font-family: var(--hamkare-typography-subtitle2-family);
      font-weight: var(--hamkare-typography-subtitle2-weight);
      line-height: var(--hamkare-typography-subtitle2-lineheight);
      letter-spacing: var(--hamkare-typography-subtitle2-letterspacing);
      text-transform: var(--hamkare-typography-subtitle2-text-transform);
    }
  }

  & .hamkare-table-body {
    display: table-row-group;

    & .hamkare-table-cell {
      color: var(--hamkare-palette-text-primary);
      font-size: var(--hamkare-typography-body2-size);
      font-family: var(--hamkare-typography-body2-family);
      font-weight: var(--hamkare-typography-body2-weight);
      line-height: var(--hamkare-typography-body2-lineheight);
      letter-spacing: var(--hamkare-typography-body2-letterspacing);
      text-transform: var(--hamkare-typography-body2-text-transform);
    }
  }

  > .hamkare-table-body:last-child,
  > .hamkare-table-foot:last-child {
    > .hamkare-table-row:last-child {
      > .hamkare-table-cell {
        border-bottom: none;
      }
    }
  }
}

.hamkare-table-sort-label {
  display: inline-flex;
  align-items: center;
  flex-direction: inherit;
  justify-content: flex-start;

  &.hamkare-clickable {
    cursor: pointer;
    user-select: none;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.64;

        .hamkare-table-sort-label-icon {
          opacity: 1;
        }
      }
    }
  }

  .hamkare-table-sort-label-icon {
    font-size: 18px;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: 4px;
    user-select: none;
    margin-right: 4px;
    opacity: 0;

    &.hamkare-direction-desc {
      opacity: 1;
      transform: rotate(180deg);
    }

    &.hamkare-direction-asc {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

.hamkare-table-toolbar {
  left: 0;
  position: sticky;
  padding-left: 16px;
  padding-right: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 8px;
}


.hamkare-table-cell {
  display: table-cell;
  padding: 16px;
  text-align: start;
  border-bottom: 1px solid var(--hamkare-palette-table-lines);
  vertical-align: inherit;

  & .hamkare-checkbox {
    margin: -4px;

    > .hamkare-icon-button {
      padding: 4px;
    }
  }

  & > .hamkare-input-control {
    & > div.hamkare-input.hamkare-input-text {
      color: var(--hamkare-theme-on-surface);
      font-size: var(--hamkare-typography-body2-size);
      margin-top: -14px;
      margin-bottom: -8px;
    }
  }

  & > .hamkare-select {
    & > .hamkare-input-control {
      & > div.hamkare-input.hamkare-input-text {
        color: var(--hamkare-theme-on-surface);
        font-size: var(--hamkare-typography-body2-size);
        margin-top: -14px;
        margin-bottom: -8px;
      }
    }
  }
}

.hamkare-table-cell-footer {
  color: var(--hamkare-palette-text-secondary);
  font-size: 0.75rem;
  line-height: 1.3125rem;
}

.hamkare-table-dense {
  & * .hamkare-table-row {
    & .hamkare-table-cell {
      padding: 6px 24px 6px 16px;
      padding-inline-start: 16px;
      padding-inline-end: 24px;

      .hamkare-table-cell-checkbox {
        .hamkare-button-root {
          padding: 4px;
        }
      }

      .hamkare-table-row-expander {
        padding: 4px;
      }
    }

    & .hamkare-table-cell:last-child {
      padding-right: 16px;
      padding-inline-end: 16px;
    }
  }
}

.hamkare-table-bordered {
  & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
    & .hamkare-table-row {
      .hamkare-table-cell:not(:last-child) {
        border-right: 1px solid var(--hamkare-palette-table-lines);
      }
    }
  }

  & .hamkare-table-container .hamkare-table-root .hamkare-table-head.table-head-bordered {
    & .hamkare-table-row {
      .hamkare-table-cell:not(:last-child) {
        border-right: 1px solid var(--hamkare-palette-table-lines);
      }
    }
  }

  & .hamkare-table-container .hamkare-table-root .hamkare-table-foot.table-foot-bordered {
    & .hamkare-table-row {
      .hamkare-table-cell:not(:last-child) {
        border-right: 1px solid var(--hamkare-palette-table-lines);
      }
    }
  }
}

.hamkare-application-layout-rtl {
  & .hamkare-table-bordered {
    & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
      & .hamkare-table-row {
        .hamkare-table-cell:first-child {
          border-right: none;
          border-top-right-radius: 0px;
        }

        .hamkare-table-cell:last-child {
          border-right: 1px solid var(--hamkare-palette-table-lines);
          border-top-right-radius: 0px;
        }
      }
    }

    & .hamkare-table-container .hamkare-table-root .hamkare-table-head.table-head-bordered {
      & .hamkare-table-row {
        .hamkare-table-cell:last-child {
          border-right: 1px solid var(--hamkare-palette-table-lines);
          border-top-right-radius: 0px;
        }

        .hamkare-table-cell:only-child {
          border-right: none;
          border-top-right-radius: var(--hamkare-default-borderradius);
        }
      }
    }

    & .hamkare-table-container .hamkare-table-root .hamkare-table-head {
      & .hamkare-table-row {
        th.hamkare-table-cell:first-child {
          border-right: none;
          border-top-right-radius: var(--hamkare-default-borderradius);
        }
      }
    }

    & .hamkare-table-container .hamkare-table-root .hamkare-table-foot.table-foot-bordered {
      & .hamkare-table-row {
        .hamkare-table-cell:last-child {
          border-right: 1px solid var(--hamkare-palette-table-lines);
          border-top-right-radius: 0px;
        }
      }
    }

    & .hamkare-table-container .hamkare-table-root .hamkare-table-foot {
      & .hamkare-table-row {
        .hamkare-table-cell:first-child {
          border-right: none;
        }
      }
    }
  }
}

.hamkare-table-sticky-header {
  .hamkare-table-container {
    overflow-x: auto;
  }

  & * .hamkare-table-root {
    .hamkare-table-head {
      & * .hamkare-table-cell:first-child {
        border-radius: var(--hamkare-default-borderradius) 0px 0px 0px;
      }

      & * .hamkare-table-cell:last-child {
        border-radius: 0px var(--hamkare-default-borderradius) 0px 0px;
      }
      //Shared Sticky Header Styles
      .hamkare-table-cell, .hamkare-table-loading {
        background-color: var(--hamkare-palette-surface);
        position: sticky;
        z-index: 2;
      }
      // Row 1 (always)
      .hamkare-table-cell {
        top: 0;
      }
      // Row 2 (filter or panel row)
      .filter-header-cell {
        top: $header-height;
      }
      // Row 2 (filter or panel row if table is dense)
      &.hamkare-table-dense .filter-header-cell {
        top: $header-height-dense;
      }
      // Row 2 (loading row without filter header)
      .hamkare-table-loading {
        top: $header-height;
      }
      // Row 2 (loading row without filter header if table is dense)
      &.hamkare-table-dense .hamkare-table-loading {
        top: $header-height-dense;
      }
      // Row 3 (loading row with filter header)
      &:has(.filter-header-cell) .hamkare-table-loading {
        top: $header-height-with-filter;
      }
      // Row 3 (loading row with filter header if table is dense)
      &.hamkare-table-dense:has(.filter-header-cell) .hamkare-table-loading {
        top: $header-height-with-filter-dense;
      }

      & * .hamkare-table-cell.sticky-left,
      & * .hamkare-table-cell.sticky-right {
        z-index: 3;
        background-color: var(--hamkare-palette-background-gray);
      }
    }
  }
}

.hamkare-table-sticky-footer {
  .hamkare-table-container {
    overflow-x: auto;
  }

  & * .hamkare-table-root {

    .hamkare-table-foot {
      position: sticky;
      z-index: 2;
      bottom: 0;

      & * .hamkare-table-cell {
        background-color: var(--hamkare-palette-surface);
      }
    }
  }
}


.hamkare-table-row {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}

.hamkare-table-hover {
  & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
    @media(hover: hover) and (pointer: fine) {
      & .hamkare-table-row:hover {
        background-color: var(--hamkare-palette-table-hover);
      }
    }
  }
}

.hamkare-table-striped {
  & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
    & .hamkare-table-row:nth-of-type(odd) {
      background-color: var(--hamkare-palette-table-striped);
    }
  }
}

.hamkare-table-hover.hamkare-table-striped {
  & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
    @media(hover: hover) and (pointer: fine) {
      & .hamkare-table-row:nth-of-type(odd):hover {
        background-color: var(--hamkare-palette-table-hover);
      }
    }
  }
}

.hamkare-table-cell-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
    flex-direction: row-reverse;
  }

  &-justify {
    text-align: justify;
  }
}

.hamkare-table-pagination-display {
  display: flex;
  flex-shrink: 0;

  & .hamkare-tablepager-left {
    flex-direction: row !important;
  }

  & .hamkare-tablepager-right {
    flex-direction: row-reverse !important;
  }
}

.hamkare-table-pagination-information {
  white-space: nowrap;
  direction: initial;
}

.hamkare-table-page-number-information {
  white-space: nowrap;
  direction: initial;
}

.hamkare-table-pagination {
  color: var(--hamkare-theme-on-surface);
  overflow: auto;
  font-size: 0.875rem;
  display: initial;
  position: sticky;
  left: 0;
  margin-top:auto;
}

.hamkare-table-pagination:last-child {
  padding: 0;
}

.hamkare-table-pagination-toolbar {
  border-top: 1px solid var(--hamkare-palette-table-lines);
  height: 52px;
  padding-right: 2px;
  padding-inline-end: 2px;
  padding-inline-start: unset;
  flex-wrap: nowrap;

  & .hamkare-tablepager-left {
    flex-direction: row !important;
  }

  & .hamkare-tablepager-right {
    flex-direction: row-reverse !important;
  }

  & > .hamkare-select{
    top: 2px;
  }
}

.hamkare-table-pagination-spacer {
  flex: 1 1 100%;
}

.hamkare-table-pagination-caption {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.hamkare-table-pagination-select {
  cursor: pointer;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 0px !important;
  min-width: 52px;

  & .hamkare-select-input {
    margin-top: 0px !important;
    padding: 0 7px !important;
  }

  & .hamkare-input .hamkare-input-root {
    max-width: 80px;
    cursor: pointer;
    margin-top: 2px;
    border: none;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em;
    color: var(--hamkare-theme-on-surface)
  }
}

.hamkare-table-pagination-actions {
  flex-shrink: 0;
  align-items: center;
  margin-left: 10px;
  margin-inline-start: 10px;
  margin-inline-end: unset;
}

.hamkare-table-smalldevices-sortselect {
  display: none;
}

.hamkare-table-loading {
  position: relative;

  & .hamkare-table-loading-progress {
    width: 100%;
  }
}

.hamkare-table-empty-row {
  background-color: var(--hamkare-palette-surface);
  vertical-align: middle;
  text-align: center;
}


@for $i from 1 through 5 {
  tr.hamkare-table-row-group-indented-#{$i} td:first-child {
    padding-left: #{$i * 48}px !important;
  }
}

.hamkare-header-togglehierarchy .hamkare-table-row-expander {
    padding: 6px;
}

.hamkare-table-row-expander {
  margin-top: -12px;
  margin-bottom: -12px;
  margin-inline-start: -12px;
  margin-inline-end: -2px;
}

@mixin table-display-smalldevices ($breakpoint) {
  .hamkare-#{$breakpoint}table {
    .hamkare-table-root .hamkare-table-head .hamkare-table-row,
    .hamkare-table-root .hamkare-table-foot {
      display: none;
    }

    .hamkare-table-smalldevices-sortselect {
      display: block;
      padding: 4px 16px 8px;
    }

    .hamkare-table-body {
      border-top: 1px solid var(--hamkare-palette-table-lines);
    }

    .hamkare-table-row {
      display: revert;

      .hamkare-table-cell:last-child {
        border-bottom: 1px solid var(--hamkare-palette-table-lines);
      }
    }

    .hamkare-table-cell {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      padding: 14px 16px;
      text-align: start !important;
    }


    &.hamkare-table-dense {
      & .hamkare-table-cell {
        padding: 6px 16px;
      }
    }

    .hamkare-table-cell:before {
      content: attr(data-label);
      font-weight: 500;
      padding-right: 16px;
      padding-inline-end: 16px;
      padding-inline-start: unset;
    }

    &.hamkare-table-small-alignright .hamkare-table-cell:before {
      margin-right: auto;
    }

    .hamkare-table-cell-hide {
      visibility: collapse;
      height: 0;
      padding: 0;
      margin: 0;
    }

    .hamkare-table-pagination {

      .hamkare-table-pagination-spacer {
        flex: none;
      }

      .hamkare-table-pagination-actions {
        .hamkare-button-root:first-child {
          display: none;
        }

        .hamkare-button-root:last-child {
          display: none;
        }
      }

      .hamkare-select ~ .hamkare-table-pagination-caption {
        margin-left: auto;
        margin-inline-start: auto;
      }
    }

    &.hamkare-table-bordered {
      & .hamkare-table-container .hamkare-table-root colgroup ~ .hamkare-table-body {
        & .hamkare-table-row {
          .hamkare-table-cell {
            border-right: 1px solid var(--hamkare-palette-table-lines) !important;
          }
        }
      }

      & .hamkare-table-container .hamkare-table-root .hamkare-table-body {
        & .hamkare-table-row {
          .hamkare-table-cell {
            border-right: none !important;
          }
        }
      }
    }
  }
}
// Table Pagination Flex Wrapper on old phones
@media (max-width:360px) {
  .hamkare-table {
    .hamkare-table-pagination {
      .hamkare-select {
        margin-left: auto;
        margin-right: -14px;
        margin-inline-start: auto;
        margin-inline-end: -14px;
      }

      .hamkare-select ~ .hamkare-table-pagination-caption {
        margin-left: unset !important;
        margin-inline-start: unset !important;
      }
    }
  }
}

@media (max-width:416px) {
  .hamkare-table {
    .hamkare-table-pagination {
      .hamkare-table-pagination-toolbar {
        flex-wrap: wrap;
        padding-top: 16px;
        padding-right: 16px;
        padding-inline-end: 16px;
        padding-inline-start: unset;
        min-height: 100px;

        .hamkare-table-pagination-actions {
          margin-left: auto;
          margin-right: -14px;
          margin-inline-start: auto;
          margin-inline-end: -14px;
        }
      }
    }
  }
}

@media (max-width:$breakpoint-sm) {
  @include table-display-smalldevices("xs-");
}

@media (max-width:$breakpoint-md) {
  @include table-display-smalldevices("sm-");
}

@media (max-width:$breakpoint-lg) {
  @include table-display-smalldevices("md-");
}

@media (max-width:$breakpoint-xl) {
  @include table-display-smalldevices("lg-");
}

@media (max-width:$breakpoint-xxl) {
  @include table-display-smalldevices("xl-");
}

@media (min-width:$breakpoint-xxl) {
  @include table-display-smalldevices("xxl-");
}
