@import '../abstracts/variables';

.hamkare-toolbar {
  display: flex;
  position: relative;
  align-items: center;
  --hamkare-internal-toolbar-height: 56px;
  height: var(--hamkare-internal-toolbar-height);
}

.hamkare-toolbar-gutters {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width:$breakpoint-xs) and (orientation: landscape) {
  .hamkare-toolbar {
    --hamkare-internal-toolbar-height: 48px;
  }
}

@media (min-width:$breakpoint-sm) {
  .hamkare-toolbar {
    --hamkare-internal-toolbar-height: 64px;
  }

  .hamkare-toolbar-gutters {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hamkare-toolbar-dense {
  --hamkare-internal-toolbar-height: 48px;
}

.hamkare-toolbar.hamkare-toolbar-wrap-content {
  height: auto;
  min-height: var(--hamkare-internal-toolbar-height);
  flex-wrap: wrap;

  &.hamkare-toolbar-appbar {
    //This might need to be uppercased to be ignored by sass.
    min-height: Min(var(--hamkare-appbar-height), var(--hamkare-internal-toolbar-height));
  }
}
