
.hamkare-typography {
  margin: 0;
}

$typography-types: ("h1", "h2", "h3", "h4", "h5", "h6", "subtitle1", "subtitle2", "body1", "body2", "button", "caption", "overline");

@each $type in $typography-types {
  .hamkare-typography-#{$type} {
    font-size: var(--hamkare-typography-#{$type}-size);
    font-family: var(--hamkare-typography-#{$type}-family);
    font-weight: var(--hamkare-typography-#{$type}-weight);
    line-height: var(--hamkare-typography-#{$type}-lineheight);
    letter-spacing: var(--hamkare-typography-#{$type}-letterspacing);
    text-transform: var(--hamkare-typography-#{$type}-text-transform);
  }
}

.hamkare-typography-srOnly {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.hamkare-typography-align-left {
  text-align: left;
}

.hamkare-typography-align-center {
  text-align: center;
}

.hamkare-typography-align-right {
  text-align: right;
}

.hamkare-typography-align-justify {
  text-align: justify;
}

.hamkare-typography-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hamkare-typography-gutterbottom {
  margin-bottom: 0.35em;
}

.hamkare-typography-paragraph {
  margin-bottom: 16px;
}
